
<ul>
  <li>
    <button (click)="toggleLight()"> Turn {{(status == 'off')?'on':'off'}} </button>
  </li>
    <li>
    <button (click)="generateNumber()"> Generate Number </button>
  </li>
</ul>
<div>Arduino values :</div>
<h4>{{value}}</h4>

<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
    </div>
  </div>
 </div>
 

